body
{
    background-image: url(green-forest-at-the-gray-mountains.jpg);
    background-size: contain ;
    background-repeat: no repeat ;
}

p

{
    color:rgb(241, 235, 235);
    font-size: 20pt;
    background-color: rgb(27, 26, 26);
    font-family: serif;
}
