body

{
    background-color: rgb(81, 94, 83);
}

p

{
    color:rgb(241, 235, 235);
    font-size: 13pt;
    background-color: rgb(65, 58, 58);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    

}